*.pyc
*.mo
*.swp
status.txt
static/content*
static/user_images/
static/cache/

.Python

bin/activate

bin/activate.csh

bin/activate.fish

bin/activate_this.py

bin/django-admin.py

bin/easy_install

bin/easy_install-2.7

bin/lcvideo_combine

bin/lcvideo_compress

bin/lcvideo_mkflv

bin/lcvideo_preview

bin/lcvideo_screenshot

bin/pilconvert.py

bin/pildriver.py

bin/pilfile.py

bin/pilfont.py

bin/pilprint.py

bin/pip

bin/pip-2.7

bin/python

bin/python2.7

bin/qt-faststart-inplace

include/python2.7

lib/*