.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #b1b1b1;
  outline: 0px auto #b1b1b1;
  outline-offset: -3px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  outline: thin dotted #b1b1b1;
  outline: 0px auto #b1b1b1;
  outline-offset: -3px;
  outline: 0px;
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 10pt;
  color: #333333;
  height: 100%;
  margin: 0;
  padding: 0;
}
div,
p,
a,
ul,
li,
header,
section,
article,
nav,
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-size: 40px;
}
p {
  margin-bottom: 5px;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #808080 !important;
  text-decoration: none;
}
a.blue {
  color: #0099ff;
}
a.blue:hover {
  color: #007acc !important;
}
hr {
  border: none;
  border-bottom: 1px solid #b1b1b1;
  margin: 15px 0;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="search"],
input[type="number"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4) inset;
  border: 1px solid #e5e5e5;
  padding: 2px;
  height: 30px;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="number"]:focus {
  outline: thin dotted #b1b1b1;
  outline: 0px auto #b1b1b1;
  outline-offset: -3px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5) inset;
}
input[type="email"] {
  background: url("../img/icons-22x25.png") no-repeat 2px top;
  padding-left: 28px;
}
input[type="password"] {
  background: url("../img/icons-22x25.png") no-repeat 2px bottom;
  padding-left: 28px;
}
input[type="search"] {
  background: url("../img/ic-search.png") no-repeat 2px top #ffffff;
  padding-left: 22px;
}
input.name {
  background: url("../img/icons-22x25.png") no-repeat 2px -30px;
  padding-left: 28px;
}
.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #c8c8c8;
  background-image: -moz-linear-gradient(top, #d0d0d0, #bcbcbc);
  background-image: -ms-linear-gradient(top, #d0d0d0, #bcbcbc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d0d0d0), to(#bcbcbc));
  background-image: -webkit-linear-gradient(top, #d0d0d0, #bcbcbc);
  background-image: -o-linear-gradient(top, #d0d0d0, #bcbcbc);
  background-image: linear-gradient(top, #d0d0d0, #bcbcbc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#bcbcbc', GradientType=0);
  text-shadow: 0px 1px 0px #ffffff;
  font-size: 9.5pt;
  font-weight: bold;
  color: #333333;
  border: none;
  border-bottom: 2px solid #7f7f7f;
  padding: 10px 12px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.btn.blue {
  background-color: #2facff;
  background-image: -moz-linear-gradient(top, #4db8ff, #0199ff);
  background-image: -ms-linear-gradient(top, #4db8ff, #0199ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4db8ff), to(#0199ff));
  background-image: -webkit-linear-gradient(top, #4db8ff, #0199ff);
  background-image: -o-linear-gradient(top, #4db8ff, #0199ff);
  background-image: linear-gradient(top, #4db8ff, #0199ff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4db8ff', endColorstr='#0199ff', GradientType=0);
  text-shadow: 0px -1px #2883bf;
  color: #ffffff;
  border-color: #2b84bf;
}
.btn.add {
  font-size: 28px;
  line-height: 18px;
  padding: 4px 6px 2px;
}
.btn.trans {
  padding: 4px 5px;
  background: none;
  border: 1px solid #858585;
}
.blue {
  color: #0099ff;
}
.right {
  float: right;
}
.left {
  float: left;
}

.header.voyHeader {
  background-color: white;
}

.header.voyHeader img {
  width:80px;
  height:50px;
  margin-top: -10px;
}

.header {
  *zoom: 1;
  background: #0099ff;
  padding: 20px 30px;
  border-bottom: 2px solid #858585;
  border-top: 1px solid #0073bf;
  height: 72px;
  position: relative;
}
.header:before,
.header:after {
  display: table;
  content: "";
}
.header:after {
  clear: both;
}
.header:after {
  content: '';
  display: block;
  background: #b1b1b1;
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.header img {
  margin-right: 15px;
}
.header input.search {
  width: 200px;
}
.header a.user {
  color: #ffffff;
  position: relative;
  cursor: pointer;
  padding-right: 14px;
  margin-top: 14px;
}
.header a.user:hover {
  color: #e6e6e6 !important;
}
.header a.user:hover:after {
  border-color: #e6e6e6 transparent transparent transparent;
}
.header a.user:after {
  content: '';
  display: table;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
  right: 0;
  top: 5px;
  position: absolute;
}
.sub-header {
  *zoom: 1;
  padding: 20px 40px;
  border-bottom: 1px solid #b1b1b1;
}
.sub-header:before,
.sub-header:after {
  display: table;
  content: "";
}
.sub-header:after {
  clear: both;
}
.sub-header h1 {
  font-size: 20pt;
  font-weight: normal;
}
.sub-header p {
  font-size: 11pt;
}
body.login {
  background: url("../img/back_mapa_bsas.gif") no-repeat #ffffff;
}
body.login .content {
  *zoom: 1;
}
body.login .content:before,
body.login .content:after {
  display: table;
  content: "";
}
body.login .content:after {
  clear: both;
}
body.login .content > div {
  float: left;
}
body.login h1 {
  font-size: 40pt;
  color: #0099ff;
  margin-bottom: 25px;
}
body.login h1 small {
  font-size: 40%;
  display: block;
  margin-bottom: 8px;
}
body.login .content {
  padding-top: 115px;
}
body.login .content .welcome {
  width: 515px;
  padding-left: 125px;
}
body.login #registration {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 260px;
  height: 260px;
  overflow: hidden;
  margin-left: 80px;
  position: relative;
}
body.login #registration h2 {
  margin-bottom: 15px;
}
body.login #registration input[type="email"],
body.login #registration input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
body.login #registration input[type="text"] {
  width: 48%;
  margin-bottom: 15px;
}
body.login #registration input[type="text"]  + input[type="text"] {
  *zoom: 1;
  float: right;
}
body.login #registration input[type="text"]  + input[type="text"]:before,
body.login #registration input[type="text"]  + input[type="text"]:after {
  display: table;
  content: "";
}
body.login #registration input[type="text"]  + input[type="text"]:after {
  clear: both;
}
body.login #registration button + a {
  margin-left: 10px;
}
body.login #registration p {
  margin-bottom: 12px;
}
body.login #registration .success {
  margin-top: 90px;
  text-align: center;
}
body.login #registration .container {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
body.login #registration.on {
  height: 280px;
}
body.login #registration.on .container {
  margin-top: -260px;
}
body.login #registration.ok {
  height: 280px;
}
body.login #registration.ok .container {
  margin-top: -590px;
}
body.full-width .content {
  padding: 20px 40px;
}
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
}
.box.gray {
  background: #bcbcbc;
}
.add-category {
  padding: 8px 0;
}
.add-category input {
  width: 280px;
}
.category-title {
  *zoom: 1;
  margin-bottom: 5px;
}
.category-title:before,
.category-title:after {
  display: table;
  content: "";
}
.category-title:after {
  clear: both;
}
.category-title label {
  font-size: 11pt;
  line-height: 18pt;
}

.subtitle {
  font-size: 14pt;
  font-weight: bold;  
  margin-bottom: 8px;
}

.social-settings {
  padding-top: 16px;
  padding-right: 48px;
}

.my-account-form label {
  font-size: 11pt;
  line-height: 18pt;
}

.my-account-textbox {
  width:300px;
}

.my-account-form-separator {
  border-bottom: 1px solid #b1b1b1;
}

.my-account-form .errorlist {
  display: inline-block;
  color: red;
}

.social-settings button {
  margin-top: 8px;
}

i.ic {
  display: inline-block;
  vertical-align: middle;
}
.trash {
  background: url("../img/ic-trash.png") no-repeat center;
  width: 17px;
  height: 17px;
}
ul.tagit {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
  border-width: 1px solid #b1b1b1;
  overflow: auto;
  margin: 0;
  padding: 0;
}
ul.tagit li {
  display: block;
  float: left;
  margin: 0 3px 0 0;
}
ul.tagit li.tagit-new {
  padding: 0 2px 0 0;
}
ul.tagit li.tagit-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #0099ff;
  font-size: 1em;
  font-weight: normal;
  position: relative;
  line-height: inherit;
}
ul.tagit li.tagit-choice span.tagit-label {
  color: #ffffff;
}
ul.tagit li.tagit-choice a.tagit-close {
  line-height: 17px;
  margin-top: -8px;
  left: .1em;
  top: 50%;
  position: absolute;
  cursor: pointer;
}
ul.tagit li.tagit-choice a.tagit-close .text-icon {
  display: inline;
  font-family: arial, sans-serif;
  font-size: 24px;
  line-height: 16px;
  font-weight: normal;
  color: #ffffff;
}
ul.tagit li.tagit-choice a.tagit-close .ui-icon {
  display: none;
}
ul.tagit li.tagit-choice-read-only {
  padding: .2em .5em .2em .5em;
}
ul.tagit li.tagit-choice-editable {
  padding: .2em .5em .2em 1.5em;
}
ul.tagit li a.tagit-label {
  cursor: pointer;
  text-decoration: none;
}
ul.tagit li input {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
  height: 24px;
}
ul.tagit li input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  width: inherit;
  outline: none;
}
ul.tagit li input[type="hidden"] {
  margin: 0;
  padding: 0;
}
label + ul.tagit {
  margin-top: 10px;
}

