{% extends "root.django.html" %}
{% load i18n %}

{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/frontpage_views.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/frontpage.js"></script>
<script src="{{STATIC_URL}}js/unicef_gis_module.js"></script>
{% endblock script %}

{% block body %}

<div id="search-bar">
    {% block search %}{% endblock %}
</div>

<div id="search-results"></div>

<div id="login-bar" class="cleared">
        {% block login %}{% endblock %}
</div>

<div id="login-container" class="hidden">
    <h4 class="title">{% trans "Login to Your Account" %}</h4> <h4 id="login-container-close">{% trans "Close" %}</h4>
    <form id="login-form" method="post" action="{% url 'locast.auth.views.login' %}">
        {% csrf_token %}
        {% trans "Email" %}
        {{ login_form.username }}
        {{ login_form.password.label_tag }}
        {{ login_form.password }}
        <input type="submit" value="login" class="locast-button" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p class="locast-help"><a href="{% url 'register' %}">{% trans "Register</a> a new account if you don't have one" %}</p>
</div><!-- end login-container -->

<div id="main-content">
    {% block main-content %}{% endblock %}
</div>

{% endblock body %}
