{% extends "root.django.html" %}
{% load i18n %}

{% block body-class %}
	full-width
{% endblock %}

{% block body %}
<div class="wrapper">
  {% if VOY_BRANDING %}
    <div class='header voyHeader'>      
  {% else %}
    <div class='header'>      
  {% endif %}
	
      <a href="/">
        {% if VOY_BRANDING %}
          <img src='{{STATIC_URL}}img/voyLogo.png'/>
        {% else %}
          <img src='{{STATIC_URL}}img/unicef_logo.png'/>
        {% endif %}
	       
      </a>
  	</div>
  	<div class='sub-header'>
        <div class='left'>
          <h1>
            {% block header %} {% endblock header %}
          </h1>
          <p>{% block subheader %} {% endblock subheader %}</p>
        </div>
        {% block actionbar %}{% endblock actionbar %}
  	</div>

  	<div class='content'>
	  	{% block content %}
		{% endblock content %}
  	</div>  	
</div>

	
{% endblock body %}
