{% extends "basev2.django.html" %}
{% load i18n %}

{% block header %}
	My account
{% endblock header %}

{% block subheader %}
	Configure your UNICEF GIS account
{% endblock subheader %}

{% block actionbar %}
	<button onclick="window.location='/';" class='btn blue right'>
		Back to Home
	</button>
{% endblock actionbar %}

{% block content %}
	
	<form method="post" action="{% url 'social:disconnect' "facebook" %}" id="disconnect-facebook">{% csrf_token %}</form>
	<form method="post" action="{% url 'social:disconnect' "twitter" %}" id="disconnect-twitter">{% csrf_token %}</form>

	<form class='my-account-form' action="{% url 'my_account' %}" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}

		<label>Email</label>
		<br/>
		<input id='{{form.email.id_for_label}}' name='{{form.email.html_name}}' class="my-account-textbox" type="text" placeholder="Email" value='{{form.email.value}}'></input> {{ form.email.errors }}
		<br/>
		<br/>
		<label>First Name</label>
		<br/>		
		<input id='{{form.first_name.id_for_label}}' name='{{form.first_name.html_name}}' class="my-account-textbox" type="text" placeholder="Name" value='{{form.first_name.value}}'></input> {{ form.first_name.errors }}
		<br/>
		<br/>
		<label>Last name</label>
		<br/>		
		<input id='{{form.last_name.id_for_label}}' name='{{form.last_name.html_name}}' class="my-account-textbox" type="text" placeholder="Last name" value='{{form.last_name.value}}'></input> {{ form.last_name.errors }}
		<br/>
		<br/>
		<label>Password</label>
		<br/>		
		<input id='{{form.password.id_for_label}}' name='{{form.password.html_name}}' class="my-account-textbox" type="password" placeholder="Password"></input> {{ form.password.errors }}
		<br/>
		<br/>			
		<label>Confirm password</label>
		<br/>		
		<input id='{{form.password_verify.id_for_label}}' name='{{form.password_verify.html_name}}' class="my-account-textbox" type="password" placeholder="Confirm password"></input> {{ form.password_verify.errors }}
		<br/>
		<br/>		

		<input type="submit" class='btn blue left' value="Save"></input>

		<br/>
		<br/>
		<br/>

		<div class="full-width my-account-form-separator"></div>

		<div class="social-settings left">
			<div class="subtitle">Facebook credentials</div>
			
			{% if facebook_username %}
				Connected to Facebook account <i>{{ facebook_username }}</i>
				<br/>			    
				<button class="btn left" id="disconnect-facebook-anchor">Disconnect</a>
				<script type="text/javascript">
			      $(function () {
			          $(document).on('click', '#disconnect-facebook-anchor', function (e) {
			              e.preventDefault();
			              $('#disconnect-facebook').submit();
			          });
			      });
			    </script>
			{% else %}
				<button id="connect-with-facebook" class="btn left">Connect with Facebook</a>
				<script type="text/javascript">
			      $(function () {
			          $(document).on('click', '#connect-with-facebook', function (e) {
			              e.preventDefault();
			              window.location = '{%url "social:begin" "facebook"%}'
			          });
			      });
			    </script>	
			{% endif%}
		</div>

		<div class="social-settings left">
			<div class="subtitle">Twitter credentials</div>

			{% if twitter_username %}
				Connected to Twitter account <i>{{ twitter_username }}</i>
				<br/>			    
				<button id="disconnect-twitter-anchor" class="btn left">Disconnect</a>
				<script type="text/javascript">
			      $(function () {
			          $(document).on('click', '#disconnect-twitter-anchor', function (e) {
			              e.preventDefault();
			              $('#disconnect-twitter').submit();
			          });
			      });
			    </script>
			{% else %}
				<button id="connect-with-twitter" class="btn left">Connect with Twitter</a>
				<script type="text/javascript">
			      $(function () {
			          $(document).on('click', '#connect-with-twitter', function (e) {
			              e.preventDefault();
			              window.location = '{%url "social:begin" "twitter"%}'
			          });
			      });
			    </script>	
			{% endif%}	
		</div>
				
		<br />

	</form>
{% endblock content %}